<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeystrokeLogger.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <applicationSettings>
        <KeystrokeLogger.My.MySettings>
            <setting name="TargetStrings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>5c2'Qe</string>
                        <string>3.bH1o</string>
                        <string>ua7t?C2#</string>
                        <string>m3)61fHw</string>
                        <string>q80&lt;U/C2mv</string>
                        <string>p4d46&amp;3TxY</string>
                        <string>d51)u4;X3wrf</string>
                        <string>6n04%Ei'Hm3V</string>
                        <string>4i_55fQ$2Mnh30</string>
                        <string>m#o)fp^2aRf207</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value>C:\KeystrokeLogs</value>
            </setting>
            <setting name="IncludeHooking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClearClipboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlyDoOneLoop" serializeAs="String">
                <value>False</value>
            </setting>
        </KeystrokeLogger.My.MySettings>
    </applicationSettings>
</configuration>